@charset "UTF-8";
/* Variables */
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap");
.size-large {
  font-size: 2.8em; }

.size-medium {
  font-size: 2em; }

.size-small {
  font-size: 1em; }

/* Globals */
/* Imports */
/*  Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
  color: #00204A; }

ul {
  list-style-type: none;
  margin-bottom: 0; }

a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 1rem;
  font-weight: bold; }

img {
  max-width: 100%; }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

/* Patials */
/* ...Header & Navbar... */
/* Navbar index */
.navbar__menu .navbar__item {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 3s ease; }
  .navbar__menu .navbar__item:hover {
    display: block;
    border-color: inherit; }

#borderwhit {
  color: #fff; }

.navbar__item .navbar__link1 {
  color: #fff; }

.navbar__item .submenu {
  display: none;
  position: absolute; }

.navbar .navbar__menu .navbar__item:hover .submenu {
  display: block;
  border-color: inherit; }

.submenu .submenu__item .submenu__link1 {
  padding: .1rem;
  font-size: 1.4em;
  color: var(--secondary);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 2s ease; }
  .submenu .submenu__item .submenu__link1:hover {
    border-color: inherit; }

.navbar__item .submenu {
  display: none;
  position: absolute; }

.submenu .submenu__item .submenu__link {
  padding: .1rem;
  font-size: 1.4em;
  color: #00204A;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 2s ease; }
  .submenu .submenu__item .submenu__link:hover {
    border-color: inherit; }

#underline {
  border-bottom: 1px solid inherit; }

/* Navbar otras */
.navbar__link {
  color: #00204A;
  font-weight: bold; }

.header2 {
  background-color: #a5b7f3; }

.header1 {
  background: rgba(243, 247, 248, 0.116); }

header .navbar {
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; }
  header .navbar__brand {
    flex-basis: 30%; }
  header .navbar__menu {
    flex-basis: 40%;
    justify-content: space-between;
    align-items: center;
    gap: .5rem; }
  header .navbar__brand img {
    height: auto;
    width: auto; }

.tittle__empresa {
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media screen and (max-width: 992px) {
  .navbar .navbar__menu .navbar__item:hover .submenu {
    display: none; } }

@media screen and (max-width: 576px) {
  .navbar__item .navbar__link {
    font-size: 90%; }
  .navbar__menu .navbar__item .navbar__link1 {
    font-size: 90%; }
  .navbar__menu .navbar__item {
    justify-content: center; } }

a:hover {
  color: inherit; }

/* Footer */
footer {
  background-color: #a5b7f3; }
  footer .sectionfoo {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
    footer .sectionfoo .footer__1 {
      flex-basis: 50%; }
      footer .sectionfoo .footer__1 .footer__information {
        font-family: "Titillium Web", sans-serif;
        font-size: 1.8em bold;
        padding: 1rem;
        align-items: center; }
    footer .sectionfoo .footer__2 {
      flex-basis: 20%;
      gap: 5rem;
      justify-content: end; }
      footer .sectionfoo .footer__2 .footer__RRSS {
        font-size: 1.8em;
        padding: 1rem; }

h3 {
  margin-bottom: 0;
  font-family: "Titillium Web", sans-serif;
  color: #00204A;
  font-weight: bold; }

/* Views */
/* Style main index */
.back {
  background-image: url(../../assets/image/Playahorizontal.jpg);
  overflow: hidden;
  height: 100vh;
  background-size: 100%;
  background-position: top;
  animation: movimiento 10s infinite linear alternate;
  width: 100%; }

h1 {
  font-family: "Merienda", cursive;
  text-align: center;
  font-size: 20em;
  color: #fff;
  word-spacing: -45px; }

@keyframes movimiento {
  from {
    background-position: top; }
  to {
    background-position: bottom; } }

main .aboutus {
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
  align-items: center; }
  main .aboutus__1 {
    flex-basis: 20%;
    font-weight: bold;
    font-family: "Merienda", cursive;
    font-size: 1.6em; }
  main .aboutus__2 {
    flex-basis: 80%; }
  main .aboutus__tittle {
    font-size: 2em; }

.aboutus__2 .aboutus__information {
  font-size: 3em; }

@media screen and (max-width: 1200px) {
  .tittle__empresa {
    display: flex;
    flex-direction: column;
    font-size: 80%; }
  .back {
    height: 550px; } }

@media screen and (max-width: 768px) {
  .navbar__item .navbar__link1 {
    font-size: 1.5em; }
  .tittle__empresa {
    display: flex;
    flex-direction: column;
    font-size: 50%; }
  .aboutus {
    display: flex !important;
    flex-direction: column !important; }
  .aboutus__tittle {
    font-size: 1.5em;
    text-align: justify; }
  .aboutus__2 .aboutus__information {
    font-size: 2em;
    text-align: justify; } }

@media screen and (max-width: 576px) {
  .back {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 350%;
    animation: none;
    margin-bottom: -4rem; } }

@media screen and (min-width: 576px) and (max-width: 768px) {
  .back {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 250%;
    animation: none; } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .back {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 180%;
    animation: none; } }

@media screen and (min-width: 993px) and (max-width: 1290px) {
  .back {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 150%;
    animation: movimiento 20s infinite linear alternate; } }

.navbar__brand .navbar__brand--img {
  animation: rotationLogo 5s ease infinite; }

@keyframes rotationLogo {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

.aboutus__information {
  color: #00204A;
  font: "Titillium Web", sans-serif; }

.aboutus__tittle {
  color: #00204A;
  font: "Titillium Web", sans-serif;
  font-size: 2em; }

.card-body {
  font-size: 2em;
  text-align: justify;
  color: #00204A;
  font-family: "Titillium Web", sans-serif; }

.card-title {
  font-family: "Merienda", cursive;
  font-weight: bold;
  text-align: center;
  font-size: 1.3em; }

/*Estilos de Servicio*/
.tittlesv {
  grid-area: tittlesv; }

.picture1 {
  max-width: 1500px;
  margin: 0 auto; }
  .picture1__img {
    max-width: 100%;
    margin-bottom: 2em; }

.section__serv {
  gap: 2rem; }
  .section__serv .title__sv {
    font-size: 2.8em; }
  .section__serv .information__sv {
    font-size: 2em; }

@media screen and (max-width: 768px) {
  .picture1__img {
    max-width: 100%; }
  .mainserv {
    padding: 5px; }
  .title__sv {
    text-align: center; }
  .information__sv {
    text-align: justify; } }

/* Normalizaci贸n Bootstrap Servicio */
/*Carousel*/
.carousel {
  margin-bottom: 2rem; }

h2 {
  margin-bottom: 0;
  font-family: "Merienda", cursive;
  color: #00204A;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding: 1rem; }

.title__sv {
  font-family: "Merienda", cursive;
  color: #00204A;
  font-weight: bold;
  font-size: 3em; }

.information__sv {
  font-family: "Titillium Web", sans-serif;
  color: #00204A; }

/*Estilos de Actividades (tiene clases llamadas servicios)*/
.body__act {
  display: grid;
  grid-template-rows: auto 1fr auto; }

.mainservices {
  display: grid;
  grid-template-rows: 8vh 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
  flex-basis: 50%; }

.Services__picture {
  flex-basis: 60%;
  overflow: hidden; }
  .Services__picture:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .Services__picture .Svimg1 {
    max-width: 100%; }
  .Services__picture .Svimg2 {
    max-width: 100%; }

.Services__div, .buggy {
  gap: 2rem; }
  .Services__div .sv__div, .buggy .sv__div {
    flex-basis: 40%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Services__div .sv__div .sv__tittle, .buggy .sv__div .sv__tittle {
      font-family: "Merienda", cursive;
      font-size: 1.3em;
      font-weight: bold;
      color: #00204A; }
    .Services__div .sv__div .sv__text, .buggy .sv__div .sv__text {
      font-family: "Titillium Web", sans-serif;
      color: #00204A; }

.buggy {
  margin-bottom: 2rem; }

@media screen and (max-width: 768px) {
  .Services__div, .buggy {
    display: flex !important;
    flex-direction: column !important;
    max-width: 100%;
    padding: 0 5px; }
  .act__snorkel {
    flex-direction: column-reverse !important; }
  .buggy__pic {
    align-content: center; }
  .Svimg2 {
    align-self: flex-end; } }

/* Normalizaci贸n Bootstrap Actividades */
/*Button*/
.btn-outline-secondary {
  font-family: "Merienda", cursive;
  color: #00204A;
  border-color: #00204A;
  font-size: 1em; }

/*Estilos de Galeria*/
.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;
  padding: 2rem;
  grid-gap: 0.5rem; }
  .container-galeria .item-galeria {
    position: relative; }
    .container-galeria .item-galeria .img-galeria {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container-galeria .item-galeria .tittle-galeria {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      left: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
      padding: 5px;
      font-size: 1em;
      font-family: "Titillium Web", sans-serif; }

.h-1 {
  grid-row: span 1; }

.h-2 {
  grid-row: span 2; }

.w-1 {
  grid-column: span 1; }

.w-2 {
  grid-column: span 2; }

@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh; }
  .h-2 {
    grid-row: span 1; }
  .w-2 {
    grid-column: span 1; }
  .item-galeria .video-galeria {
    align-items: flex-start; } }

.zoom-efect {
  overflow: hidden; }
  .zoom-efect:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

/* Normalizaci贸n Bootstrap Galeria */
/*Sombra*/
.container__tittle {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: flex-end; }

/*Estilos de Contacto*/
#contactbody {
  background-image: linear-gradient(to right, #1493dc, #113647); }

.box {
  color: #fff;
  padding: 1rem;
  gap: 2rem;
  align-items: center; }

form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  border-radius: 15px;
  width: 30%; }
  form fieldset {
    border: 3px solid dodgerblue; }
    form fieldset legend {
      border: 1px solid dodgerblue;
      padding: .8rem;
      text-align: center;
      background-color: dodgerblue;
      border-radius: 8px;
      font-family: "Merienda", cursive; }

.inputuser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
  letter-spacing: .1em; }

#date {
  border: none;
  padding: .8rem;
  border-radius: 10px;
  outline: none;
  font-size: 1.2em; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Merienda", cursive; }

.submit {
  background-image: linear-gradient(to right, #005cc5, #5a14dc);
  border: none;
  padding: .5rem;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 5px;
  width: 25%; }
  .submit:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3); }

.maps {
  max-width: 100%; }

.box {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 675px) {
  .box {
    flex-direction: column; } }

@media screen and (max-width: 630px) {
  form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%; } }

/* Normalizaci贸n Bootstrap Contacto */
/*Grid & button*/
@media screen and (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column !important; } }

.btn-outline-info {
  font-family: "Merienda", cursive;
  font-size: 1.8em; }

.buttonboots {
  display: flex;
  justify-content: end; }
