@charset "UTF-8";
/* Variables */
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap");
.size-large {
  font-size: 3rem; }

.size-medium {
  font-size: 2rem; }

.size-small {
  font-size: 1rem; }

/* Globals */
/* Imports */
/*  Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
  color: #00204A; }

ul {
  list-style-type: none;
  margin-bottom: 0; }

a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 1rem;
  font-weight: bold; }

/* Helpers */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

/* Patials */
/* ...Header & Navbar... */
.navbar__menu .navbar__item {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 3s ease; }
  .navbar__menu .navbar__item:hover {
    display: block;
    border-color: inherit; }
  .navbar__menu .navbar__item:hover .submenu {
    display: block;
    border-color: inherit; }
  .navbar__menu .navbar__item .submenu {
    display: none;
    position: absolute; }

.submenu .submenu__item .submenu__link {
  padding: .1rem;
  font-size: 1.4em;
  color: #00204A;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 2s ease; }
  .submenu .submenu__item .submenu__link:hover {
    border-color: inherit; }

.navbar__link {
  color: #00204A;
  font-weight: bold; }

.header2 {
  background-color: #a5b7f3; }
  .header2 .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
    .header2 .navbar .navbar__brand {
      flex-basis: 30%; }
      .header2 .navbar .navbar__brand img {
        height: auto;
        width: auto; }
    .header2 .navbar .navbar__menu {
      flex-basis: 40%;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem; }

@media screen and (max-width: 576px) {
  .navbar__item .navbar__link {
    font-size: 90%; }
  .navbar__menu .navbar__item {
    justify-content: center; } }

a:hover {
  color: inherit; }

/* Footer */
footer {
  background-color: #a5b7f3; }
  footer .sectionfoo {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
    footer .sectionfoo .footer__1 {
      flex-basis: 50%; }
      footer .sectionfoo .footer__1 .footer__information {
        font-family: "Titillium Web", sans-serif;
        font-size: 1.8em bold;
        padding: 1rem;
        align-items: center; }
    footer .sectionfoo .footer__2 {
      flex-basis: 20%;
      gap: 5rem;
      justify-content: end; }
      footer .sectionfoo .footer__2 .footer__RRSS {
        font-size: 1.8em;
        padding: 1rem; }

h3 {
  margin-bottom: 0;
  font-family: "Titillium Web", sans-serif;
  color: #00204A;
  font-weight: bold; }

/* Views */
/*Estilos de Servicio*/
.tittlesv {
  grid-area: tittlesv; }

.picture1 {
  max-width: 1500px;
  margin: 0 auto; }
  .picture1__img {
    max-width: 100%;
    margin-bottom: 2rem; }

.section__serv {
  gap: 2rem; }
  .section__serv .title__sv {
    font-size: 2rem; }
  .section__serv .information__sv {
    font-size: 2rem; }

.img-relax {
  height: 100%;
  width: 100%;
  object-fit: cover; }

@media screen and (max-width: 768px) {
  .picture1__img {
    max-width: 100%; }
  .mainserv {
    padding: 5px; }
  .title__sv {
    text-align: center; }
  .information__sv {
    text-align: justify; } }

/* Normalización Bootstrap Servicio */
/*Carousel*/
.carousel {
  margin-bottom: 2rem; }

h2 {
  margin-bottom: 0;
  font-family: "Merienda", cursive;
  color: #00204A;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding: 1rem; }

h4 {
  font-family: "Titillium Web", sans-serif;
  color: #00204A;
  font-weight: bold; }

.information__sv {
  font-family: "Titillium Web", sans-serif;
  color: #00204A; }

/*Estilos de Actividades (tiene clases llamadas servicios)*/
.body__act {
  display: grid;
  grid-template-rows: auto 1fr auto; }

.mainservices {
  display: grid;
  grid-template-rows: 8vh 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
  flex-basis: 50%; }

.Services__picture {
  flex-basis: 60%; }
  .Services__picture .Svimg1 {
    max-width: 100%; }
  .Services__picture .Svimg2 {
    max-width: 75%; }

.Services__div, .buggy {
  gap: 2rem; }
  .Services__div .sv__div, .buggy .sv__div {
    flex-basis: 40%;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; }

h2 {
  font-family: "Merienda", cursive;
  font-size: 3em;
  text-align: center;
  padding: 1rem; }

.buggy {
  margin-bottom: 2rem; }

@media screen and (max-width: 768px) {
  .Services__div, .buggy {
    display: flex !important;
    flex-direction: column !important;
    max-width: 100%;
    padding: 0 5px; } }

/* Normalización Bootstrap Actividades */
/*Button*/
.btn-outline-secondary {
  font-family: "Titillium Web", sans-serif; }

.sv__text {
  margin-bottom: 0; }

/*Estilos de Galeria*/
.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;
  padding: 2rem;
  grid-gap: 0.5rem; }
  .container-galeria .item-galeria {
    position: relative; }
    .container-galeria .item-galeria .img-galeria {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container-galeria .item-galeria .tittle-galeria {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      left: 0;
      bottom: 0;
      width: 100%;
      color: #fff;
      padding: 5px;
      font-size: 1em;
      font-family: "Titillium Web", sans-serif; }

.h-1 {
  grid-row: span 1; }

.h-2 {
  grid-row: span 2; }

.w-1 {
  grid-column: span 1; }

.w-2 {
  grid-column: span 2; }

@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh; }
  .h-2 {
    grid-row: span 1; }
  .w-2 {
    grid-column: span 1; }
  .item-galeria .video-galeria {
    align-items: flex-start; } }

/* Normalización Bootstrap Galeria */
/*Sombra*/
.container__tittle {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: flex-end; }

/*Estilos de Contacto*/
#contactbody {
  background-image: linear-gradient(to right, #1493dc, #113647); }

.box {
  color: #fff;
  padding: 1rem;
  gap: 2rem;
  align-items: center; }

form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  border-radius: 15px;
  width: 30%; }
  form fieldset {
    border: 3px solid dodgerblue; }
    form fieldset legend {
      border: 1px solid dodgerblue;
      padding: .8rem;
      text-align: center;
      background-color: dodgerblue;
      border-radius: 8px; }

.inputuser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
  letter-spacing: .1em; }

#date {
  border: none;
  padding: .8rem;
  border-radius: 10px;
  outline: none;
  font-size: 1.2em; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.submit {
  background-image: linear-gradient(to right, #005cc5, #5a14dc);
  border: none;
  padding: .5rem;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 5px;
  width: 25%; }
  .submit:hover {
    background-image: linear-gradient(to right, #0050ac, #5013c3); }

.maps {
  max-width: 100%; }

.box {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 675px) {
  .box {
    flex-direction: column; } }

@media screen and (max-width: 630px) {
  form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%; } }

/* Normalización Bootstrap Contacto */
/*Grid & button*/
@media screen and (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: column !important; } }

.btn-outline-info {
  font-family: "Titillium Web", sans-serif; }

.buttonboots {
  display: flex;
  justify-content: end; }
