/* ...Header & Navbar... */

/* Navbar index */

.navbar__menu .navbar__item {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 3s ease;

    &:hover {
        display: block;
        border-color: inherit;
    }

}

.navbar__menu {
    margin: 0 auto !important
}

#borderwhit {
    color: $secondary;
}

.navbar__item .navbar__link1 {
    color: $secondary;
}

.navbar__item .submenu {
    display: none;
    position: absolute;
}

.navbar .navbar__menu .navbar__item:hover .submenu {
    display: block;
    border-color: inherit;
}

.submenu .submenu__item .submenu__link1 {
    padding: .1rem;
    font-size: 1.4em;
    color: var(--secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 2s ease;

    &:hover {
        border-color: inherit;
    }
}

.navbar__item .submenu {
    display: none;
    position: absolute;
}

.submenu .submenu__item .submenu__link {
    padding: .1rem;
    font-size: 1.4em;
    color: $principal;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 2s ease;

    &:hover {
        border-color: inherit;
    }
}

#underline {
    border-bottom: 1px solid inherit;
}

/* Navbar otras */

.navbar__link {
    color: $principal;
    font-weight: bold;
}

.header2 {
    background-color: rgb(165, 183, 243);
}

.header1 {
    background: rgba(243, 247, 248, 0.116);
}

header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    &__brand {
        flex-basis: 30%
    }

    &__menu {
        flex-basis: 40%;
        justify-content: space-between;
        align-items: center;
    }

    &__brand img {
        height: auto;
        width: auto;
    }
}


.tittle__empresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .navbar .navbar__menu .navbar__item:hover .submenu {
        display: none;
    }

}

@media screen and (max-width: 576px) {

    .navbar__item .navbar__link {
        font-size: 90%;
    }

    .navbar__menu .navbar__item .navbar__link1 {
        font-size: 90%;
    }

    .navbar__menu .navbar__item {
        justify-content: center;
    }
}

a:hover {
    color: inherit;
}