/*Estilos de Actividades (tiene clases llamadas servicios)*/

.body__act {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mainservices {
    display: grid;
    grid-template-rows: 8vh 1fr 1fr;
    min-height: 100vh;
    gap: 2rem;
    flex-basis: 50%;
}

.Services__picture {
    flex-basis: 60%;
    overflow: hidden;

    &:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .Svimg1 {
        max-width: 100%;
    }

    .Svimg2 {
        max-width: 100%;
    }
}

.Services__div {
    gap: 2rem;

    .sv__div {
        flex-basis: 40%;
        font-size: 2em;
        @include flex(column, center);

        .sv__tittle {
            font-family: $font-secundary;
            font-size: 1.3em;
            font-weight: bold;
            color: $principal
        }

        .sv__text {
            font-family: $font-primary;
            color: $principal
        }


    }
}

.buggy {
    @extend .Services__div;
    margin-bottom: 2rem;

}

@media screen and (max-width: 768px) {
    .Services__div {
        display: flex !important;
        flex-direction: column !important;
        max-width: 100%;
        padding: 0 5px;

    }

    .act__snorkel {
        flex-direction: column-reverse !important;
    }

    .buggy__pic {
        align-content: center;
    }

    .Svimg2 {
        align-self: flex-end;
    }
}

/* Normalización Bootstrap Actividades */
/*Button*/

.btn-outline-secondary {
    font-family: $font-secundary;
    color: $principal;
    border-color: $principal;
    font-size: 1em;
}