/*Estilos de Servicio*/

.tittlesv {
    grid-area: tittlesv;
}

.picture1 {
    max-width: 1500px;
    margin: 0 auto;
    &__img {
        max-width: 100%;
        margin-bottom: map-get($size, medium)
    }
}

.section__serv {
    gap: 2rem;
    .title__sv {
        font-size: map-get($size, large);
    }
    .information__sv {
        font-size: map-get($size, medium);
    }
}

@media screen and (max-width: 768px) {
    .picture1__img {
        max-width: 100%;
    }

    .mainserv {
        padding: 5px;
    }

    .title__sv {
        text-align: center;
    }

    .information__sv {
        text-align: justify;
    }
}

/* Normalización Bootstrap Servicio */
/*Carousel*/

.carousel {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 0;
    font-family: $font-secundary;
    color: $principal;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding: 1rem;
}

.title__sv {
    font-family: $font-secundary;
    color: $principal;
    font-weight: bold;
    font-size: 3em;
}

.information__sv {
    font-family: $font-primary;
    color: $principal;
}


