/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap');

/*  Normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals */
html {
    font-size: 62.5%;
    font-family: $font-primary;
    color: $principal;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 1rem;
    font-weight: bold;
}

img {
    max-width: 100%;
}